/*
 * This file defines the detail styling of checkout.html
 */ 

#checkout-form
{
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

	justify-content: center;
	justify-items: start;
}

#form-submit
{
	grid-column-start: 1;
	grid-column-end: span end;
	grid-row-start: 5;
	grid-row-end: span end;
	justify-self: center;
}

.form-input
{
	margin: 1rem;
}

@media( min-width: 0 )
{
	#checkout-form{ grid-template-rows: repeat( 8, 1fr ); }
	#form-submit{ grid-row-start: 8; }
	.form-input > label, .form-input > input{ display: block; }
}

@media( min-width: 30rem )
{
	#checkout-form{ grid-template-rows: 1fr 1fr 1fr 1fr 1fr; }
	#form-submit{ grid-row-start: 5; }
	.form-input > label, .form-input > input{ display: block; }
}

@media( min-width: 48rem )
{
	.form-input > label, .form-input > input{ display: inline-block; }
}
