/*
 * This file contained the custom styled classes across the website
 */ 

/********** nav bar **********/ 

.nav-bar
{
	position: -webkit-sticky; /* Safari */
  	position: sticky;
	top: 0;
	padding: 1rem 1rem;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;

	background-color: var( --light-2 );
	border: 2px var( --light-1) solid;
}

/* logo */
.nav-bar a
{
	text-decoration: none;
	color: var( --dark-1 );
}

.nav-bar img
{
	width: 4rem;
}

.nav-bar h1
{
	margin: 0;
	padding: 0 0.5rem;
	font-size: 2rem;
	font-variation-settings: 'wght' 800;
}

/* nav */
.nav-bar > nav
{
	margin-left: auto;
}

.nav-bar > nav > a
{
	text-decoration: none;

	margin: 0 0.2rem;
	padding: 1rem;

	color: var( --dark-1 );
	/*background-color: var( --dark-2 );*/

	border-radius: 0.5rem;
}



/********** banner **********/ 

/*.banner*/
/*{			*/
	/*display: flex;*/
	/*flex-flow: column wrap;*/
	/*justify-content: flex-start;*/
	/*align-items: center;*/
	
	/*background-color: var( --quaternary );*/
/*}*/



/********** button **********/

.btn 
{
	text-decoration: none;

	margin: 0 0.2rem;
	padding: 1rem;
	border-radius: 0.5rem;

	color: var( --light-1 );
	background-color: var( --dark-2 );
	
	transition-property: background-color color; 
	transition-duration: 0.2s;
}

.btn:hover, .btn:focus 
{
	color: var( --dark-1 );
	background-color: var( --light-1 );
}

.btn-primary
{
	color: var( --light-1 );
	background-color: var( --primary );
}

.btn-primary:hover, .btn-primary:focus 
{
	color: var( --light-1 );
	background-color: var( --dark-1 );
}



/********** images ***********/ 

.clickable-img
{
	width: 50%;
	max-width: 100vw;
	border-radius: 1rem;;
	border: 2px solid #FFFFFF;
	transition-property: border;
	transition-duration: 0.5s;
}

.clickable-img:hover, .clickable-img:focus
{
	border: 2px solid var( --light-3 );
}
