/*
 * This file contained the custom styled classes across the website
 */ 

/********** nav bar **********/ 

.navbar
{
	position: -webkit-sticky; /* Safari */
  	position: sticky;
	top: 0;
	padding: 1rem 1rem;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;

	background-color: var( --light-2 );
	border-bottom: 2px var( --light-1) solid;
}

/* logo */
.navbar-logo
{
	width: 4rem;
}

.navbar-name
{
	margin: 0;
	padding: 0 0.5rem;
	font-size: 2rem;
	font-variation-settings: 'wght' 800;
}

/* nav */
.navbar > nav
{
	margin-left: auto;
}

.navbar-link
{
	text-decoration: none;

	margin: 0 0.2rem;
	padding: 1rem;

	color: var( --dark-1 );
	background-color: none;
	border-radius: 0.5rem;

	transition-property: background-color color; 
	transition-duration: 0.2s;
}

.navbar-link:hover, .navbar-link:focus
{
	background-color: var( --light-1 );
}

.navbar-link-primary
{
	color: var( --light-1 );
	background-color: var( --primary );
}

.navbar-link-primary:hover, .navbar-link-primary:focus 
{
	color: var( --light-1 );
	background-color: var( --dark-1 );
}



/********** banner **********/ 

.banner
{			
	padding: 5rem 0;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
}

.banner-primary
{
	background-color: var( --primary );
}

.banner-secondary
{
	background-color: var( --secondary );
}

.banner-tertiary
{
	background-color: var( --tertiary );
}

.banner-title
{
	font-variation-settings: 'slnt' -10, 'wght' 900;
}



/********** section **********/ 

.section
{
	margin: 2rem 0;

	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
}



/********** card **********/ 

.card-container
{
	display: grid;
	justify-content: center;
	align-items: center;
}

@media( min-width: 0rem )
{
	.card-container{ grid-template-columns: 1fr; }
}

@media( min-width: 38rem )
{
	.card-container{ grid-template-columns: 1fr 1fr; }
}

@media( min-width: 75rem )
{
	.card-container{ grid-template-columns: 1fr 1fr 1fr 1fr; }
}

.card
{
	margin: 1rem;
	padding: 1rem;
	color: var( --light-3 );
	background-color: var( --dark-4 );
	border-radius: 0.5rem;
}



/********** button **********/

.btn 
{
	display: inline-block;
	text-decoration: none;

	margin: 0.5rem 0;
	padding: 0.5rem 2rem;
	border: 0;
	border-radius: 0.3rem;

	color: var( --light-1 );
	background-color: var( --dark-2 );
	
	transition-property: background-color color; 
	transition-duration: 0.2s;
}

.btn:hover, .btn:focus 
{
	color: var( --dark-1 );
	background-color: var( --light-1 );
}

.btn-primary
{
	color: var( --light-1 );
	background-color: var( --primary );
}

.btn-primary:hover, .btn-primary:focus 
{
	color: var( --light-1 );
	background-color: var( --dark-1 );
}



/********** images ***********/ 

.clickable-img
{
	width: 50%;
	max-width: 100vw;
	border-radius: 1rem;;
	border: 2px solid #FFFFFF;
	transition-property: border;
	transition-duration: 0.5s;
}

.clickable-img:hover, .clickable-img:focus
{
	border: 2px solid var( --light-3 );
}


/********** Footer ***********/ 
footer{
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	background-color:  var( --dark-1 );
}
.copyright{
	margin: 0.9em 0;
	color:  var( --light-3 );
}