/*
 * This file defines the detail styling for index.html
 */

.logo-group
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

}

.media-logo
{
	width: 2rem;
	margin: 0 0.5rem;
}

.logo-group > a:hover, a:focus
{
	transition: transform 0.2s;
}

.logo-group > a:hover, a:focus
{
	transform: scale( 120% );
}
