/*
 * This file contains the detail styling of join.html
 */ 

/********** feature list **********/ 

.card > ul{ list-style: none; text-align: left; }
.card > ul > li{ margin: 0.5rem; text-indent: -1rem; }
.card > ul > li:before{ content: "✓ "; }
